
Astronomical Processing/obj/Astronomical Processing.csproj.nuget.dgspec.json
*.props
*.cache
*.json
*.json
*.cache
*.props
*.cache
*.vsidx
*.vsidx
*.cache
*.json
Astronomical Processing/obj/Debug/net6.0-windows/Astronomical Processing.GeneratedMSBuildEditorConfig.editorconfig
*.vsidx
*.json
*.vsidx
Astronomical Processing/.vs/Astronomical Processing/FileContentIndex/d5c6ca2c-2a43-4777-a76b-b9fbafabb6f8.vsidx
Astronomical Processing/obj/Astronomical Processing.csproj.nuget.dgspec.json
